form {
    width: 100%!important;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  label {
    display: block;
    margin-top: 20px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

.Box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.firstBox{
    width: 30%;
    /* background-color: green; */
    margin:20px;
}
.secondBox{
    width: 30%;
    /* background-color: red; */
    margin:20px;
}
.CabMain {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
    padding: 20px;
    background-color: #f5f5f5;
   }
   .CabMain h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
   }
   
   .CabMain h2 {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
   }
   
   .CabMain p {
    font-size: 14px;
    color: #777;
   }